.cont{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    align-content: flex-start;
    justify-content: flex-start;
}

div{
    margin: 0px;
    border:0px;
}